body{
    gap: 16px;
    background-color: #6f97c4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    }

input{
    border: 3px solid rgba(0, 0, 0, 0.12);
    height: 53px;
    border-radius: 16px;
    }

.list-item{
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 16px;
    }

img{
    width: 30px;
    height: 50px;
    margin-left: 8px;
    margin-top: 10px;
    }

.button{
    background-color: none;
    padding: none;
    color: none;
    border: none;
    font-size: 20px;
    margin-left: 12px;
    }

.button1{
    border: 3px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(0, 120, 50);
    color: white;
    border-radius: 16px;
    height: 60px;
    padding: 16px;
    cursor: pointer;
    }

.button2{
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 27px;
    width: 27px;
    padding: 0px;
    padding-left: 10px;
    cursor: pointer;
    }

.tab {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    }
  
.tab button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 16px;
    transition: 0.3s;
    margin-bottom: 10px;
    margin-left: 10px;
    }

.tab img{
    width: 30px;
    height: 50px;
    margin-left: 10px;
    margin-top: 0px;
    }
  
.tab button:hover {
    background-color: #ddd;
    }
  
.tab button.active {
    background-color: #ccc;
    }
  
.tabcontent {
    padding: 10px;
    margin-left: -10px;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }

.Calender {
    width: 380px;
    margin-left: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
    font-size: 20px;
}

.header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fefeff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: dimgray;
    border-radius: 5px;
}

.day {
    text-align: center;
    padding: 5px;
    color: black;
    font-weight: 900;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2%;
    color: black;
}

.date_loaded {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2%;
    color: red;
}

.date:hover,
.date_empty.active {
    background: #6f99b0;
    color: #fff;
}

.date_empty.inactive {
    color: white;
    border-color: #fff;
}

.date_empty.inactive:hover {
    color: white;
    border-color: #fff;
}
